@model string
<div id="top_bar">
    <div class="md-top-bar">
        <ul id="menu_top" class="uk-clearfix">
            <li>
                <a href="@Model"><i class="material-icons" style="margin-right: 10px;">undo</i> Back</a>
            </li>
        </ul>
    </div>
</div>
